{% extends "base.html" %}

{% block content %}
{{ super() }}
<!-- Флеш сообшение cat - категория задается в app. True Нужно чтобы данные возвращались в том порядке что записаны -->
{% for cat, msg in get_flashed_messages(True) %}
<div class = "flash {{cat}}">{{ msg }}</div>
{% endfor %}
<form action="/contact" method="post" class="form-contact">
<p><label>Имя:</label><input type="text" name = "username" value="" required />
<p><label>Email:</label><input type="text" name = "Email" value="" required />
<p><label>Сообщение:</label>
<p><textarea name = "message" rows="7" cols="40"></textarea>
<p><input type="submit" value="Отправить">
</form>
{% endblock %}